include header
    

.slide
  ul.img(moveauto-time="3000")
    li.active(style="width: 1280px; background-image: url(images/slide.png)")
    li(style="width: 1280px; background-image: url(https://static.pexels.com/photos/57018/pexels-photo-57018.jpeg)")
  ul.pagi
    li.active
    li

.wrapper
  .search.flex
    a(href="/searchbrand.html").flex-1
      .box.middle-center.flex(style="background-image: url('images/keyboard.jpeg')")
        h3 brands
        p ค้นหาตามแบรนด์
    a(href="/searchbrand.html").flex-1
      .box.middle-center.flex(style="background-image: url('images/joy.jpeg')")
        h3 equipment
        p ค้นหาตามอุปกรณ์
    a(href="/searchbrand.html").flex-1
      .box.middle-center.flex(style="background-image: url('images/game.jpeg')")
        h3 genre
        p ค้นหาตามแนวเกม

include footer


















